{% extends "main.html" %}
{% block content %}

<link rel="stylesheet" href="{{ 'assets/stylesheets/home.css' | url }}" />

<div class="md-container">
  <section class="home-container">
    <div class="jumbotron-grid-container">
      <div>
        <h2>Highly scalable and standards based
          <br>
          Model Inference Platform on Kubernetes
          <br>

          for Trusted AI
        </h2>
        <p style="display: block">
          <a href="{{ 'get_started/' | url }}" class="md-button md-button--primary">
            Get Started
          </a>
          <!-- <a href="{{ 'admin/install/' | url }}" class="md-button"> Cluster Administrator? Get Started Here!</a> -->
        </p>
      </div>
      <div>
        <img src="./images/kserve_new.png" />
      </div>
    </div>
  </section>

  <section class="features-container">
    <div class="md-grid md-typeset">
      <h2>Why KServe?</h2>
      <ul class="task-list-control" style="columns: 2">
        <li class="task-list-item">
          <input type="checkbox" checked disabled />
          <span class="task-list-indicator"></span>
          KServe is a standard Model Inference Platform on Kubernetes, built for highly
            scalable predictive and generative inference.
        </li>
        <li class="task-list-item">
          <input type="checkbox" checked disabled /><span class="task-list-indicator"></span>Provides performant,
            standardized inference protocol across ML frameworks.
        </li>
        <li class="task-list-item">
          <input type="checkbox" checked disabled /><span class="task-list-indicator"></span>Support modern
          serverless inference workload with Autoscaling including Scale to Zero on GPU.
        </li>
        <li class="task-list-item">
          <input type="checkbox" checked disabled /><span class="task-list-indicator"></span>Provides high
            scalability, density packing and intelligent routing using ModelMesh

        </li>
        <li class="task-list-item">
          <input type="checkbox" checked disabled /><span class="task-list-indicator"></span>Simple and
          Pluggable
            production serving for production ML serving including prediction, pre/post processing,
            monitoring and
            explainability.
        </li>

        <li class="task-list-item">
          <input type="checkbox" checked disabled /><span class="task-list-indicator"></span>Advanced deployments
          with
          canary rollout, experiments, ensembles and transformers.
        </li>

      </ul>
    </div>
  </section>
  <hr>
  <section class="components-container">
    <div class="md-grid md-typeset">
      <div>
        <h2>KServe Components</h2>
      </div>
      <div class="demo-container org-card--rows">
        <div class="card org-card" aria-labelledby="org-card--heading">
          <div id="" class="org-card--front" aria-labelledby="org-card-heading">
            <div class="org-card--picture">
              <a href="./modelserving/v1beta1/serving_runtime">
                <img src="./images/Model Serving.svg" alt="Predictive Inference">
              </a>
            </div>
            <div class="org-card--body">
              <div class="org-card--body-heading">
                <h5 class="org-card--heading" id="org-card--heading">
                  <a href="./modelserving/v1beta1/serving_runtime">Predictive Inference</a>
                </h5>
              </div>
              <div class="org-card--body-content">
                <div class="org-card--body-content-wrapper">
                  Provides Serverless deployment for model inference on CPU/GPU with common ML frameworks
                  <a href="https://scikit-learn.org/">Scikit-Learn</a>,
                  <a href="https://xgboost.readthedocs.io/">XGBoost</a>,
                  <a href="https://www.tensorflow.org/">Tensorflow</a>,
                  <a href="https://pytorch.org/">PyTorch</a>
                  <a href="https://huggingface.co/">Hugging Face</a> as well as pluggable custom model runtime.
                </div>
              </div>
            </div>
          </div>
        </div>
	<div id="" class="org-card--front" aria-labelledby="org-card-heading">
            <div class="org-card--picture">
              <a href="./modelserving/v1beta1/serving_runtime">
                <img src="./images/kserve_generative_inference.png" alt="Generative Inference">
              </a>
            </div>
            <div class="org-card--body">
              <div class="org-card--body-heading">
                <h5 class="org-card--heading" id="org-card--heading">
                  <a href="./modelserving/v1beta1/llm">Generative Inference</a>
                </h5>
              </div>
              <div class="org-card--body-content">
                <div class="org-card--body-content-wrapper">
                  Provides scalable, low latency serving for large language models through <a href="">vLLM</a> integration, distributed KV cache and LLM metrics based autoscaling.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card org-card" aria-labelledby="org-card--heading">
          <div id="" class="org-card--front" aria-labelledby="org-card-heading">
            <div class="org-card--picture">
              <a href="./modelserving/mms/multi-model-serving/">
                <img src="./images/ModelMesh-Serving.png" alt="ModelMesh Serving">
              </a>
            </div>
            <div class="org-card--body">
              <div class="org-card--body-heading">
                <h5 class="org-card--heading" id="org-card--heading">
                  <a href="./modelserving/mms/multi-model-serving/">ModelMesh</a>
                </h5>
              </div>
              <div class="org-card--body-content">
                <div class="org-card--body-content-wrapper">
                  ModelMesh is designed for high-scale, high-density and frequently-changing model use cases. ModelMesh
                  intelligently loads and unloads AI models to and from memory to strike an intelligent trade-off
                  between responsiveness to users and computational footprint. </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="demo-container org-card--rows">
        <div class="card org-card" aria-labelledby="org-card--heading">
          <div id="" class="org-card--front" aria-labelledby="org-card-heading">
            <div class="org-card--body">
              <div class="org-card--body-heading">
                <h5 class="org-card--heading" id="org-card--heading">
                  <a href="modelserving/explainer/explainer">Model Explainability</a>
                </h5>
              </div>
              <div class="org-card--body-content">
                <div class="org-card--body-content-wrapper">
                  Provides ML model inspection and interpretation, KServe integrates <a href="https://captum.ai/">Captum</a> 
		  to help explain the predictions and gauge the confidence of those predictions.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card org-card" aria-labelledby="org-card--heading">
          <div id="" class="org-card--front" aria-labelledby="org-card-heading">
            <div class="org-card--body">
              <div class="org-card--body-heading">
                <h5 class="org-card--heading" id="org-card--heading">
                  <a href="modelserving/detect/aif/germancredit">Model Monitoring</a>
                </h5>
              </div>
              <div class="org-card--body-content">
                <div class="org-card--body-content-wrapper">
                  Enables payload logging, outlier, adversarial and drift detection, KServe integrates
                  <a href="https://aif360.mybluemix.net/">AI Fairness 360</a>,
		          <a href="https://github.com/Trusted-AI/adversarial-robustness-toolbox">Adversarial Robustness Toolbox (ART)</a> to help monitor the ML models on production.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="demo-container org-card--rows">
        <div class="card org-card" aria-labelledby="org-card--heading">
          <div id="" class="org-card--front" aria-labelledby="org-card-heading">
            <div class="org-card--picture">
              <a href="modelserving/inference_graph">
                <img src="./images/Advanced deployments.png" alt="Advanced Deployments">
              </a>
            </div>
            <div class="org-card--body">
              <div class="org-card--body-heading">
                <h5 class="org-card--heading" id="org-card--heading">
                  <a href="modelserving/inference_graph">Advanced deployments</a>
                </h5>
              </div>
              <div class="org-card--body-content">
                <div class="org-card--body-content-wrapper">
                  KServe inference graph supports four types of routing node: Sequence, Switch, Ensemble, Splitter.
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
</div>
</section>
<hr>


<section class="usedby-container">
  <div class="md-grid md-typeset" style="width: 100%">
    <div id="usedby-title">
      <h3>Adopters</h3>
    </div>
    <div id="usedby">

      <div class="logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/5d/New_Bloomberg_Logo.svg" alt=""
          draggable="false" />
      </div>
      <div class="logo">
        <img src="https://upload.wikimedia.org/wikipedia/sco/2/21/Nvidia_logo.svg" alt="" draggable="false" />
      </div>
      <div class="logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/IBM_logo.svg" alt="" draggable="false" />
      </div>
      <div class="logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Cisco_logo_blue_2016.svg" alt=""
          draggable="false" />
      </div>
      <div class="logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/AMD_Logo.svg" alt="Advanced Micro Devices, Inc." draggable="false" />
      </div>
      <div class="logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Gojek_logo_2019.svg" alt="" draggable="false" />
      </div>
      <div class="logo">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/7/73/Inspur_logo.svg/220px-Inspur_logo.svg.png" alt="" draggable="false" />
      </div>
      <div class="logo">
        <img src="./images/Max-Kelsen-logo-black.png" alt="" draggable="false" />
      </div>
      <div class="logo">
        <img src="./images/prosus.png" alt="" draggable="false" />
      </div>
      <div class="logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/3/31/Wikimedia_Foundation_logo_-_vertical.svg" alt="" draggable="false" />
      </div>
      <div class="logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/23/Naver_Logotype.svg" alt="Naver Corporation" draggable="false" />
      </div>
      <div class="logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/e/eb/Zillow_logo.svg" alt="Zillow" draggable="false" />
      </div>
      <div class="logo">
        <img src="./images/striveworks.png" alt="Striveworks" draggable="false" />
      </div>
      <div class="logo">
        <img src="./images/cars24.svg" alt="Cars24" draggable="false" />
      </div>
      <div class="logo">
        <img src="./images/upstage.png" alt="Upstage" draggable="false" />
      </div>
      <div class="logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Intuit_logo_2022.svg/2880px-Intuit_logo_2022.svg.png" alt="Intuit" draggable="false" />
      </div>
      <div class="logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/f/f7/Logo-Red_Hat-A-Standard-RGB.png" alt="Red Hat" draggable="false" />
      </div>
      <div class="logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Cloudera_logo.svg/1024px-Cloudera_logo.svg.png" alt="Cloudera" draggable="false" />
      </div>
      <div class="logo">
        <img src="./images/alauda-logo.png" alt="Alauda" draggable="false" />
      </div>
    </div>
    <div id="usedby-more">..and more!</div>
  </div>
</section>
<!-- <hr>
<section id="kubeflow">
  <div class="main-section">
    <center>
      <p style="font-size: 20px">We are a <a href="https://kubeflow.org/">Kubeflow</a> graduated project</p>


    </center>
  </div>
</section> -->

</div>


{% endblock %}
